########################
# package management
########################
node_modules
app/bower_components

########################
# build
########################
dist
.tmp
.sass-cache

########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
*.iml
