
<!doctype html>
<html ng-app="biomeGenerator">
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="styles/chosen.min.css">
        <link rel="stylesheet" href="styles/chosen-bootstrap.css">    
        <link rel="stylesheet" href="styles/main.css">        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="scripts/ng-chosen.js"></script>
        <script src="scripts/chosen.jquery.min.js"></script>
        <script src="scripts/app.js"></script>
        <title>Starbound Biome Generator</title>
    </head>
    <body ng-controller="initData">
        <blockquote class="col-sm-4 col-sm-offset-4">
            <h4>Starbound Biome Generator</h4>
            <p>A work in progress...</p>
        </blockquote>
        <form class="col-sm-6 col-sm-offset-3" role="form">
            <div class="form-group">
                <label class="control-label">Name:</label>
                <input type="text"
                        class="form-control"
                        ng-model="form.name"
                        placeholder="Biome Name"
                        ng-change="updateParallax()"/>
            </div>
            <div class="form-group">
                <label class="control-label">Cave Liquid Type:</label>
                <select ng-model="form.caveLiquidType"
                        class="form-control"
                        chosen
                        ng-options="liquid for liquid in liquids"
                        data-placeholder="Select liquid">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Ocean Liquid Type:</label>
                <select ng-model="form.oceanLiquidType"
                        class="form-control"
                        chosen
                        data-placeholder="Select liquid"
                        ng-options="liquid for liquid in liquids">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Allowed Detached Biomes:</label>
                <select ng-model="form.allowedDetachedBiomes"
                        class="form-control"
                        chosen
                        multiple
                        ng-options="biome for biome in allowedDetachedBiomes"
                        data-placeholder="Select liquid">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Hue Shift Options:</label>
                <input type="text"
                        class="form-control"
                        ng-model="form.hueShiftOptions"
                        placeholder="Array(int). Ex: [1,2,3]"/>
            </div>
            <div class="form-group">
                <label class="control-label">Sky Options:</label>
                <button type="button"
                        class="btn btn-default"
                        ng-click="showSkyOptionsModal()">Add Sky Option</button>
            </div>
            <legend>Surface Parameters:</legend>
            <div class="form-group">
                <label class="control-label">Main Block:</label>
                <select ng-model="form.surfaceParameters.mainBlock"
                        class="form-control"
                        chosen
                        ng-options="block for block in blocks"
                        data-placeholder="Select block">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Sub Blocks:</label>
                <select ng-model="form.surfaceParameters.subBlocks"
                        class="form-control"
                        chosen
                        multiple
                        ng-options="block for block in blocks"
                        data-placeholder="Select block">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Ores:</label>
                <select ng-model="form.surfaceParameters.ores"
                        class="form-control"
                        chosen
                        ng-options="ore for ore in ores"
                        data-placeholder="Select ore">
                </select>
            </select>
            </div>
            <div class="form-group">
                <label class="control-label">Parallax:</label>
                <input type="text"
                        class="form-control"
                        ng-model="form.surfaceParameters.parallax"
                        disabled/>
            </div>
            <div class="form-group">
                <label class="control-label">Underground Parallax:</label>
                <input type="text"
                        class="form-control"
                        ng-model="form.surfaceParameters.undergroundParallax"
                        disabled/>
            </div>
            <div class="form-group">
                <label class="control-label">Weather:</label>
                <button type="button"
                        class="btn btn-default"
                        ng-click="showWeatherModal()">Add Weather</button>
            </div>
            <legend>Sound</legend>
            <div class="form-group">
                <label class="control-label">Ambient Noises(Day::</label>
                <select ng-model="form.surfaceParameters.ambientNoises.day.tracks"
                    class="form-control"
                    chosen
                    multiple
                    ng-options="track for track in tracks"
                    data-placeholder="Track files">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Ambient Noises(Night):</label>
                <select ng-model="form.surfaceParameters.ambientNoises.night.tracks"
                    class="form-control"
                    chosen
                    multiple
                    ng-options="track for track in tracks"
                    data-placeholder="Track files">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Underground Ambient Noises(Day):</label>
                <select ng-model="form.surfaceParameters.undergroundAmbientNoises.day.tracks"
                    class="form-control"
                    chosen
                    multiple
                    ng-options="track for track in tracks"
                    data-placeholder="Track files">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Underground Ambient Noises(Night):</label>
                <select ng-model="form.surfaceParameters.undergroundAmbientNoises.night.tracks"
                    class="form-control"
                    chosen
                    multiple
                    ng-options="track for track in tracks"
                    data-placeholder="Track files">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Music Track(Day):</label>
                <select ng-model="form.surfaceParameters.musicTrack.day.tracks"
                    class="form-control"
                    chosen
                    multiple
                    ng-options="track for track in tracks"
                    data-placeholder="Track files">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Music Track(Night):</label>
                <select ng-model="form.surfaceParameters.musicTrack.night.tracks"
                    class="form-control"
                    chosen
                    multiple
                    ng-options="track for track in tracks"
                    data-placeholder="Track files">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Underground Music Track(Day):</label>
                <select ng-model="form.surfaceParameters.undergroundMusicTrack.day.tracks"
                    class="form-control"
                    chosen
                    multiple
                    ng-options="track for track in tracks"
                    data-placeholder="Track files">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Underground Music Track(Night):</label>
                <select ng-model="form.surfaceParameters.undergroundMusicTrack.night.tracks"
                    class="form-control"
                    chosen
                    multiple
                    ng-options="track for track in tracks"
                    data-placeholder="Track files">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Surface Placeable Items:</label>
                <input type="text" class="form-control"ng-model="form.surfaceParameters.surfacePlaceables.items" placeholder="Items array" disabled/>
            </div>
            <div class="form-group">
                <label class="control-label">Temperature Bounds:</label>
                <input type="text" class="form-control"ng-model="form.surfaceParameters.statusParameters.temperatureBounds" placeholder="Range"/>
            </div>
            <div class="form-group">
                <label class="control-label">Day / Night Temperature Variability:</label>
                <input type="text" class="form-control"ng-model="form.surfaceParameters.statusParameters.dayNightTemperatureVariability" placeholder="Int"/>
            </div>
            <div class="form-group">
                <label class="control-label">temperatureVariability:</label>
                <input type="text" class="form-control"ng-model="form.surfaceParameters.statusParameters.temperatureVariability" placeholder="Int"/>
            </div>
            <div class="form-group">
                <label class="control-label">Underground Placeable Items:</label>
                <input type="text" class="form-control"ng-model="form.surfaceParameters.undergroundPlaceables.items" placeholder="Items array"/>
            </div>
            <legend>Subsurface Parameters</legend>
            <div class="form-group">
                <label class="control-label">Main Block:</label>
                <select ng-model="form.subSurfaceParameters.mainBlock"
                        class="form-control"
                        chosen
                        ng-options="block for block in blocks"
                        data-placeholder="Select block">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Sub Blocks:</label>
                <select ng-model="form.subSurfaceParameters.subBlocks"
                        class="form-control"
                        chosen
                        multiple
                        ng-options="block for block in blocks"
                        data-placeholder="Select block">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Ores:</label>
                <select ng-model="form.subSurfaceParameters.ores"
                        class="form-control"
                        chosen
                        ng-options="ore for ore in ores"
                        data-placeholder="Select ore">
                </select>
            </select>
            </div>
            <div class="form-group">
                <label class="control-label">Underground Placeable Items:</label>
                <input type="text" class="form-control"ng-model="form.subSurfaceParameters.undergroundPlaceables.items" placeholder="Items array" disabled/>
            </div>
            <div class="form-group">
                <label class="control-label">Temperature Bounds:</label>
                <input type="text" class="form-control"ng-model="form.subSurfaceParameters.statusParameters.temperatureBounds" placeholder="Range"/>
            </div>
            <div class="form-group">
                <label class="control-label">Day / Night Temperature Variability:</label>
                <input type="text" class="form-control"ng-model="form.subSurfaceParameters.statusParameters.dayNightTemperatureVariability" placeholder="Int"/>
            </div>
            <div class="form-group">
                <label class="control-label">temperatureVariability:</label>
                <input type="text" class="form-control"ng-model="form.subSurfaceParameters.statusParameters.temperatureVariability" placeholder="Int"/>
            </div>
            <div class="col-sm-12">
                <button type="button"
                        class="btn btn-primary"
                        ng-click="downloadObj(surfaceBiomeFile, form)">Download {{surfaceBiomeFile}}</button>
            </div>
        </form>
        <div class="col-sm-8 col-sm-offset-2 bottomBuffer">
            <label class="control-label">Additional Customization:</label>
            <div class="help-block">Note: Edit this area only once you have finished using the form.  Once you change it you will not be able to modify it via the form. </div>
            <textarea class="form-control" rows="10">{{form | json}}</textarea>
        </div>

        <script id="newWeatherTemplate" type="text">
            <div class="form-group">
                <label>Type:</label>
                <input type="text"
                        class="form-control"
                        id="newWeatherName"/>
            </div>
            <div class="form-group">
                <label>Severity Bounds</label>
                <input type="number"
                        class="form-control"
                        id="newWeatherBounds"/>
            </div>
        </script>

        <script id="newSkyOptionTemplate" type="text">
            <div class="form-group">
                <label>Main Color:</label>
                <input type="text"
                        class="form-control"
                        id="newWeatherName"/>
            </div>
            <div class="form-group">
                <label>Morning Colors:</label>
                <input type="text"
                        class="form-control"
                        id="newWeatherName"/>
            </div>
            <div class="form-group">
                <label>Day Colors:</label>
                <input type="text"
                        class="form-control"
                        id="newWeatherName"/>
            </div>
            <div class="form-group">
                <label>Evening Colors:</label>
                <input type="text"
                        class="form-control"
                        id="newWeatherName"/>
            </div>
            <div class="form-group">
                <label>Night Colors:</label>
                <input type="text"
                        class="form-control"
                        id="newWeatherName"/>
            </div>
            <div class="form-group">
                <label>Morning Light Color:</label>
                <input type="text"
                        class="form-control"
                        id="newWeatherName"/>
            </div>
            <div class="form-group">
                <label>Day Light Color:</label>
                <input type="text"
                        class="form-control"
                        id="newWeatherName"/>
            </div>
            <div class="form-group">
                <label>Evening Light Color:</label>
                <input type="text"
                        class="form-control"
                        id="newWeatherName"/>
            </div>
            <div class="form-group">
                <label>Night Light Color:</label>
                <input type="text"
                        class="form-control"
                        id="newWeatherName"/>
            </div>
        </script>

        <div class="modal fade"
                id="{{template.name}}ModalContainer"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myModalLabel"
                aria-hidden="true"
                ng-repeat="template in templates.modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add {{template.name}}</h4>
              </div>
              <div class="modal-body" ng-bind-html="template.content | trustAsHtml">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="template.clickCancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="template.clickAdd()">Add</button>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
